.footer {
  width: 100%;
  background-color: #111111;
  height: 170px;
}

.footer-container {
  width: 85%;
  display: block;
  margin: auto;
}

.footer-container .flex {
  width: 30%;
  padding: 20px 0px;
  margin-left: 70%;
  display: flex;
  justify-content: space-between;
}

.footer-container .flex p {
  color: white;
}

.footer-container .flex-2 {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

.footer-container .flex-2 .mail {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mail p {
  font-size: 18px;
  margin-left: 10px;
}
